extends layout

block content

    include ../_includes/video-upload-js

    .col-lg-1.text-center
    .col-lg-10
        h2 Add Sequence for Interview ##{interview.id} for #{interview.user.firstName} #{interview.user.lastName}
        br
        .container
            .row
                .col-lg-8
                    h3 Interview info
                    br
                    dl.dl-horizontal
                        dt Date
                        dd=interview.dateTimeText
                        dt Type
                        dd=interview.typeText

            .row
                .col-lg-8
                    h3 Add sequence
                    br
                    form.form-horizontal.upload_form(id="upload_form", action="", method="post", role="form")
                        if(error)
                            .alert.alert-danger(role="alert") #{error}
                        input(id='interviewId' type="hidden" name="interviewId" value="#{interview.id}")

                        .form-group
                            label.control-label.col-sm-2(for='tags') Tag:
                            .col-sm-6
                                select#tags.form-control(name='tagId')
                                    each text, key in sequenceTagOptions
                                        option(value='#{key}' selected=(key==formData.tagId))=text
                        .form-group
                            label.control-label.col-sm-2(for='summary') Summary
                            .col-sm-6
                                textarea#summary(name="summary" rows='4' cols='50')=formData.summary
                        .form-group
                            label.control-label.col-sm-2(for='appreciation') Appreciation
                            .col-sm-6
                                each val, key in appreciationsOptions
                                    label.radio-inline
                                        input(type='radio', class='radioSpans', id='appreciation', value='#{key}', name='appreciation' checked=(formData.appreciationId == key ))
                                        span=val
                        .form-group
                            //.col-sm-6
                            include ../_includes/video-upload-control

                        .form-group
                            .col-sm-offset-4.col-sm-10
                                button.btn.btn-default(type="submit") Save
            .row
                .col-lg-8






.col-lg-2.text-center

