extends layout

block content


    .col-lg-2.text-center
    .col-lg-6(style='padding:10px')
        .row

            h2  Interviewer Create
            br
            br

            form.form-horizontal.upload_form(id="interview_create", action="", method="post", role="form")

                if(error)
                    .alert.alert-danger(role="alert") #{error}

                .form-group.required
                    label.control-label.col-sm-4(for='firstName') First name:
                    .col-sm-8
                        input#firstName(type="", name="firstName", placeholder="" value="#{formData.firstName}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='lastName') Last name:
                    .col-sm-8
                        input#lastName(type="", name="lastName", placeholder="" value="#{formData.lastName}").form-control
                .form-group
                    label.control-label.col-sm-4(for='mobilePhone') Mobile number:
                    .col-sm-8
                        input#mobilePhone(type="", name="mobilePhone", placeholder="" value="#{formData.mobilePhone}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='email') Email:
                    .col-sm-8
                        input#email(type="email", name="email", placeholder="Email" value="#{formData.email}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='password') Password:
                    .col-sm-8
                        input#password(type="password", name="password", placeholder="Password must be at least 8 characters", value="#{formData.password}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='confirmationPassword') Please confirm your password:
                    .col-sm-8
                        input#confirmationPassword(type="password", name="confirmationPassword", placeholder="Password confirmation", value="#{formData.confirmationPassword}").form-control

                .form-group
                    .col-sm-offset-4.col-sm-10
                        button.btn.btn-default(type="submit") Create


    .col-lg-2.text-center