extends layout

block content

    .col-lg-1.text-center
    .col-lg-10
        h2 Set date for Interview ##{interview.id} for #{interview.user.firstName} #{interview.user.lastName}
        br
        br
        .container
            .row
                .col-lg-8()
                    form.form-horizontal(id="interview_form", action="", method="post", role="form")
                        if(error)
                            .alert.alert-danger(role="alert") #{error}
                        input(type="hidden" name="interviewId" value="#{interview.id}")
                        .form-group
                            label.control-label.col-sm-2(for='datepicker') Date:
                            .col-sm-10
                                .input-group.date.col-sm-4
                                    input#datepicker(type="text" name='date' value='#{formData.date}').form-control
                                    .input-group-addon
                                        span.glyphicon.glyphicon-th
                            script.
                                $(function () {
                                    $('#datepicker').datepicker({
                                        autoclose: true,
                                        format: 'dd/mm/yyyy',
                                        startDate: '+0d',
                                        //https://bootstrap-datepicker.readthedocs.io/en/latest/options.html
                                    });
                                });
                        .form-group
                            label.control-label.col-sm-2(for='time_hour') Time:
                            .col-sm-2
                                select#time_hour.form-control(name='hour')
                                    each val in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']
                                        if formData.hour == val
                                            option(value='#{val}' selected='true') #{val}
                                        else
                                            option(value='#{val}') #{val}

                            .col-sm-2
                                select#time_minute.form-control(name='minute')
                                    each val in ['00', '15', '40', '45']
                                        if formData.minute == val
                                            option(value='#{val}' selected='true') #{val}
                                        else
                                            option(value='#{val}') #{val}
                        .form-group
                            label.control-label.col-sm-2(for='time_hour') Interviewer:
                            .col-sm-6
                                //-var interviewerId = (formData.interviewerId ? formData.interviewerId : interviewers[0].id )
                                select#interviewer.form-control(name='interviewerId' value='#{interviewerId}')
                                    each interviewer in interviewers
                                        option(value='#{interviewer.id}' selected=(interviewer.id == formData.interviewerId)) #{interviewer.fullName}
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                .checkbox
                                    label
                                        input(type='checkbox', name='sendEmail', value='checked' checked=formData.sendMail?"checked":undefined)
                                        |   Send Confirmation email to interviewees
                        .form-group
                            .col-sm-offset-4.col-sm-10
                                button.btn.btn-default(type="submit") Save



    .col-lg-2.text-center
