extends ../user/layout

block content

    script(src="//cdn.tinymce.com/4/tinymce.min.js")
    script.
        //https://www.tinymce.com/docs/configure/editor-appearance/
        tinymce.init({
            selector:'textarea',
            height: 250,
            menubar: false,
            statusbar: false,
            //width : 600
        });

    include ../_includes/sector-position-js

    .col-lg-2.text-center
    .col-lg-8
        .row
            br
            h3 Poster une nouvelle offre
            br
            form.form-horizontal(id="registerForm", action="", method="post", role="form")
                if(error)
                    .alert.alert-danger() #{error}

                input(id='idRecruiter' type="hidden" name="idRecruiter" value="#{formData.idRecruiter}")

                .form-group.required
                    label.control-label.col-sm-4(for='sector') Secteur d'activité
                    .col-sm-8
                        select#sector(value=formData.sector, name='sector').form-control.required
                            each val, key in sectorOptions
                                option(value=key selected=(key == formData.sector))=val.label

                .form-group
                    label.control-label.col-sm-4(for='sector') Position
                    .col-sm-8
                        select#position(name='position').form-control
                            each val, key in sectorOptions[formData.sector].positions
                                option(value=key selected=(key == formData.position))=val

                .form-group.required
                    label.control-label.col-sm-4(for='offerType') Type d'offre
                    .col-sm-8
                        select#offerType(value=formData.offerType, name='offerType').form-control.required
                            each val, key in offerTypeOptions
                                option(value=key)=val

                .form-group
                    label.control-label.col-sm-4(for='location') Nom entreprise
                    .col-sm-8
                        input#companyName(type="", name="companyName", placeholder="" value="").form-control


                .form-group
                    label.control-label.col-sm-4(for='companyType') Type d'entreprise
                    .col-sm-8
                        select#companyType(value=formData.offerType, name='companyType').form-control.required
                            each val, key in companyTypeOptions
                                option(value=key)=val

                .form-group.required
                    label.control-label.col-sm-4(for='location') Ville
                    .col-sm-8
                        input#location(type="", name="location", placeholder="Ex: London, Paris" value="#{formData.location}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='language') Language
                    .col-sm-8
                        select#language(value=formData.language, name='language').form-control.required
                            each val, key in languageOptions
                                option(value=key)=val

                .form-group.required
                    label.control-label.col-sm-4(for='text') Texte
                    .col-sm-8
                        textarea#text.form-control(name="text" placeholder="Min. 100 characters")=formData.text

                .form-group
                    .col-sm-offset-4.col-sm-10
                        button.btn.btn-default(type="submit") Poster l'offre


        .row

        .row



    .col-lg-2.text-center