extends layout

block content

    - var page = 'my-account';

    .col-lg-2.text-center
    .col-lg-8
        h2 Interview #{interview.id}

        .container
            .row
                include ../_includes/user-menu.jade

                .col-lg-6(style='padding:5px')
                    h3 Information
                    dl.dl-horizontal
                        dt Date
                            dd=interview.dateTimeText
                        dt Type
                            dd=interview.typeText
                        dt Sector
                            dd=interview.sectorText
            .row
                .col-lg-6(style='padding:5px')
                    h3 Sequences

                    table.table
                        tr
                            th Tag
                            th Summary
                            th Rating
                            th Video
                        if(interview.sequences.length === 0)
                            tr
                                td(colspan=4) No sequences for this interview
                        else
                            each sequence in interview.sequences
                                tr
                                    td=sequence.tagText
                                    td=sequence.summary
                                    td=sequence.apprecitionText
                                    td
                                        a(href='#{sequence.video.url}') View

    .col-lg-2.text-center
