extends layout

block content

    - var page = 'my-account';

    .col-lg-2.text-center
    .col-lg-8
        .container
            .row
                h2=welcome
                //Welcome #{session.firstName}
            .row
                include ../_includes/user-menu.jade
            .row
                .col-lg-6(style='padding:10px')

                    h4 Upcoming mock interview(s):

                    if(interviewsFuture.length == 0)
                        h5 Nothing planned yet!
                        a(href='simulation') Schedule another mock interview
                    else
                        each interview in interviewsFuture
                            div #{interview.typeText} - #{interview.dateTimeText}
            .row
                .col-lg-8(style='padding:10px')

                    h4 Mock interviews history:
                    table.table
                        tr
                            th Date
                            th Type
                            th Sector
                            th Company
                            th Competency
                        each interview in interviewsPast
                            tr
                                td=interview.dateTimeText
                                td=interview.typeText
                                    //if(interview.type == 2)
                                    //    a(href='offer/#{interview.idOffer}')=interview.typeText
                                    //else

                                td=interview.sectorText
                                td=interview.company
                                td 
                                td
                                    a(href='interview/#{interview.id}') View


    .col-lg-2.text-center
