extends layout

block content

    - var page = 'my-account';

    .col-lg-2.text-center
    .col-lg-8
        .container
            .row
                h2=welcome
                //Bienvenue #{session.firstName}
            .row
                include ../_includes/user-menu.jade
            .row
                .col-lg-6(style='padding:10px')

                    h4 Prochaine(s) simulation(s) d'entretien:

                    if(interviewsFuture.length == 0)
                        h5 Pas de simulation prevue
                        a(href='simulation') Demander une nouvelle simulation
                    else
                        each interview in interviewsFuture
                            div #{interview.typeText} - #{interview.dateTimeText}
            .row
                .col-lg-6(style='padding:10px')

                    h4 Mes simulations d'entretien:
                    table.table
                        tr
                            th Date
                            th Position
                            th Company
                            th Competence
                        each interview in interviewsPast
                            tr
                                td=interview.dateTimeText
                                td=interview.sectorText
                                td
                                td DCF, Consolidation, Presentation
                                td
                                    a(href='interview/#{interview.id}') View


    .col-lg-2.text-center
