extends ../user/layout

block content

    script(src="//cdn.tinymce.com/4/tinymce.min.js")
    script.
        //https://www.tinymce.com/docs/configure/editor-appearance/
        tinymce.init({
            selector: 'textarea',
            height: 250,
            menubar: false,
            toolbar: false,
            statusbar: false,
            readonly: 1

            //width : 600
        });

    .col-lg-2.text-center
    .col-lg-8
        .row
            br
            h3 Offer ##{offer.id}
            br
            form.form-horizontal(id="registerForm", action="", method="post", role="form")
                
                .form-group.required
                    label.control-label.col-sm-4(for='sector') Sector
                    .col-sm-8
                        input#sector(type="", name="sector", placeholder="" value="#{offer.sectorText}").form-control

                .form-group
                    label.control-label.col-sm-4(for='position') Position
                    .col-sm-8
                        input#position(type="", name="position", placeholder="" value="#{offer.positionText}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='offerType') Offer type
                    .col-sm-8
                        input#offerType(type="", name="offerType", placeholder="" value="#{offer.offerTypeText}").form-control

                .form-group
                    label.control-label.col-sm-4(for='companyName') Company name
                    .col-sm-8
                        input#companyName(type="", name="companyName", placeholder="" value="#{offer.companyName}").form-control

                .form-group
                    label.control-label.col-sm-4(for='companyType') Company type
                    .col-sm-8
                        input#companyType(type="", name="companyType", placeholder="" value="#{offer.companyTypeText}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='location') Location
                    .col-sm-8
                        input#location(type="", name="location", placeholder="Ex: London, Paris" value="#{offer.location}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='language') Language
                    .col-sm-8
                        input#language(type="", name="language", placeholder="" value="#{offer.languageText}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='text') Text
                    .col-sm-8
                        textarea#text.form-control(name="text" placeholder="")=offer.text

                .form-group
                    .col-sm-offset-4.col-sm-10

                        if(offer.alreadyApplied)
                            button.btn.btn-danger(disabled) You have already applied
                        else
                            a.btn.btn-default(href="/apply/#{offer.id}") Apply



        .row

        .row



    .col-lg-2.text-center