
extends layout

block content

    .col-lg-2.text-center
    .col-lg-8
        .row
            br
            h3 Browse offers
            br

            include ../_includes/sector-position-js


            form.form-horizontal(id="searchForm", action="", method="post", role="form")
                if(error)
                    .alert.alert-danger() #{error}

                .form-group.required
                    label.col-sm-3.control-label(for='sector') Sector
                    .col-sm-8
                        select#sector(name='sector').form-control.required
                            each val, key in sectorOptions
                                option(value=key selected=(key == formData.sector))=val.label

                .form-group.required
                    label.col-sm-3.control-label(for='position') Position
                    .col-sm-8
                        select#position(name='position').form-control
                            - var positions = sectorOptions[formData.sector].positions;
                            //- positions['0'] = 'Tous';
                            each val, key in positions
                                option(value=key selected=(key == formData.position))=val

                .form-group.required
                    label.col-sm-3.control-label(for='companyType') Company types:
                    .col-sm-8
                        select#companyType(name='companyType').form-control.required
                            each val, key in companyTypeOptions
                                option(value=key selected=(key == formData.companyType))=val

                .form-group.required
                    label.col-sm-3.control-label(for='location') Location
                    .col-sm-8
                        select#location(name='location').form-control.required
                            each val, key in locations
                                option(value=key selected=(key == formData.location))=val

                .form-group.required
                    label.col-sm-3.control-label(for='language') Language:
                    .col-sm-8
                        select#language(value=formData.language, name='language').form-control.required
                            each val, key in languageOptions
                                option(value=key selected=(key == formData.language))=val

                .form-group
                    .col-sm-offset-4.col-sm-10
                        button.btn.btn-default(type="submit") Search


            if (offers && offers.length > 0)
                h3 Results
                br
                include ../_includes/offers-result
            else if (message)
                h3=message

        .row

        .row



    .col-lg-2.text-center
