extends layout

block content

    script(src='/cloudinary/jquery.ui.widget.js')
    script(src='/cloudinary/jquery.iframe-transport.js')
    script(src='/cloudinary/jquery.fileupload.js')
    script(src='/cloudinary/jquery.cloudinary.js')

    script.

        $(document).ready(function () {

            //help from http://code.tutsplus.com/tutorials/smarter-video-handling-with-cloudinary--cms-24416
            var public_id   = '';

            $('#cvFile').unsigned_cloudinary_upload("curriculum", {cloud_name: 'dzfmkzqdo', tags: 'browser_uploads'},
                {multiple: false, resource_type: 'raw', allowed_formats: '[pdf]'}
                //http://cloudinary.com/documentation/upload_videos#upload_parameters_reference
            ).bind('cloudinarydone', function (e, data) {

                public_id = data.result.public_id;

            $('.file-title').html(data.result.original_filename);

                $('#cvUniqueId').val(public_id);
            }
            ).bind('cloudinaryprogress', function (e, data) {

                $('.progress-bar').css('width',

                    Math.round((data.loaded * 100.0) / data.total) + '%');
                }
            );
        });

    .col-lg-2.text-center
    .col-lg-8
        if(!session.authenticated)
            h2 Let's schedule a mock interview!
        else
            h2 New mock interview
        br
        br
        form.form-horizontal(id="registerForm", action="", method="post", role="form")

            if(error)
                .alert.alert-danger(role="alert") #{error}

            .form-group.required
                label.control-label.col-sm-4(for='firstName') Position:
                .col-sm-8
                    input#position(type="", name="position", placeholder="" value="#{formData.position}").form-control

            .form-group
                label.control-label.col-sm-4(for='sector') Sector:
                .col-sm-8
                    select#sector(name='sector').form-control.required
                        each val, key in sectorOptions
                            option(value=key selected=(key == formData.sector))=val

            .form-group.required
                label.control-label.col-sm-4(for='company') Company:
                .col-sm-8
                    input#company(type="", name="company", placeholder="" value="#{formData.company}").form-control

            .form-group
                label.control-label.col-sm-4(for='cvFile') CV upload:
                .col-sm-3
                    label.btn.btn-default.btn-file
                        | Select CV file...
                        input#cvFile(type="file" style="display: none;" name="file")
                .col-sm-2
                    div.progress
                        div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
                .col-sm-2
                    div.file-title


            if(!session.authenticated)

                .form-group.required
                    label.control-label.col-sm-4(for='firstName') First name:
                    .col-sm-8
                        input#firstName(type="", name="firstName", placeholder="" value="#{formData.firstName}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='lastName') Last name:
                    .col-sm-8
                        input#lastName(type="", name="lastName", placeholder="" value="#{formData.lastName}").form-control

            .form-group.required
                label.control-label.col-sm-4(for='skypeId') Your Skype ID:
                .col-sm-8.required
                    input#skypeId(type="", name="skypeId", placeholder="Mock interview scheduling" value="#{formData.skypeId}").form-control

            .form-group.required
                label.control-label.col-sm-4(for='availability') Your availabilites:
                .col-sm-8
                    input#availability(type="", name="availability", placeholder="Eg. Wednesdays and Thursdays from 5pm" value="#{formData.availability}").form-control

            .form-group
                label.control-label.col-sm-4(for='mobilePhone') Mobile number:
                .col-sm-8
                    input#mobilePhone(type="", name="mobilePhone", placeholder="" value="#{formData.mobilePhone}").form-control

            if(!session.authenticated)

                .form-group.required
                    label.control-label.col-sm-4(for='email') Email:
                    .col-sm-8
                        input#email(type="email", name="email", placeholder="Email" value="#{formData.email}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='password') Password:
                    .col-sm-8
                        input#password(type="password", name="password", placeholder="Password must be at least 8 characters", value="#{formData.password}").form-control

                .form-group.required
                    label.control-label.col-sm-4(for='confirmationPassword') Please confirm your password:
                    .col-sm-8
                        input#confirmationPassword(type="password", name="confirmationPassword", placeholder="Password confirmation", value="#{formData.confirmationPassword}").form-control

            .form-group
                .col-sm-offset-4.col-sm-10
                    //button(type="submit").btn.btn-default Register
                    button.btn.btn-default(type="submit") Register
    .col-lg-2.text-center
