extends layout

block content

    include ../_includes/cv-upload-js


    script.
        $(document).ready(function () {
            $('#sector').change(function () {

                $.ajax({
                    type: 'GET',
                    data: {sector: $('#sector').val()},
                    url: 'getPositions',
                    success: function (data) {

                        var select = $("#position")[0];

                        $('#position').empty();

                        for (var key in data) {
                            if (data.hasOwnProperty(key)) {

                                select.add(new Option(data[key], key));

                            }
                        }
                    }
                });
            });
        });

    // main-container start
    // ================
    .main-container.dark-translucent-bg(style="background-image:url('/images/montagne1.jpg');")
        .container
            .row
                // main start
                // ================
                .main.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='100')
                    .form-block.center-block.p-30.light-gray-bg.border-clear
                        if(!session.authenticated)
                            h2.title Let's schedule a mock interview!
                        else
                            h2.title New mock interview

                        form.form-horizontal(id="registerForm", action="", method="post", role="form")

                            if(error)
                                .alert.alert-danger(role="alert") #{error}

                            .form-group.has-feedback
                                label.col-sm-3.control-label(for='sector') Sector
                                    span.text-danger.small *
                                .col-sm-8
                                    select#sector(name='sector').form-control
                                        each val, key in sectorOptions
                                            option(value=key selected=(key == formData.sector))=val.label

                            .form-group.has-feedback
                                label.col-sm-3.control-label(for='position') Position
                                    span.text-danger.small *
                                .col-sm-8
                                    //input#position.form-control(type='text', name='position', placeholder='Eg Financial Analyst', required='', value="#{formData.position}")
                                    //i.fa.fa-pencil.form-control-feedback
                                    select#position(name='position').form-control
                                        each val, key in sectorOptions[formData.sector].positions
                                            option(value=key selected=(key == formData.position))=val

                            .form-group.has-feedback
                                label.col-sm-3.control-label(for='company') Company
                                    //span.text-danger.small *
                                .col-sm-8
                                    input#company.form-control(type='text', name='company', placeholder='Eg BNP Paribas', value="#{formData.company}")
                                    i.fa.fa-pencil.form-control-feedback

                            .form-group.has-feedback
                                include ../_includes/cv-upload-control

                            if(!session.authenticated)

                                .form-group.has-feedback
                                    label.col-sm-3.control-label(for='firstName') First Name
                                        span.text-danger.small *
                                    .col-sm-8
                                        input#firstName.form-control(type="text", name='firstName', placeholder="", required='', value="#{formData.firstName}")
                                        i.fa.fa-pencil.form-control-feedback

                                .form-group.has-feedback
                                    label.col-sm-3.control-label(for='lastName') Last Name
                                        span.text-danger.small *
                                    .col-sm-8
                                        input#lastName.form-control(type="text", name="lastName", placeholder="", required='', value="#{formData.lastName}")
                                        i.fa.fa-pencil.form-control-feedback

                            .form-group.has-feedback
                                label.col-sm-3.control-label(for='skypeId') Your Skype ID:
                                    span.text-danger.small *
                                .col-sm-8.required
                                    input#skypeId(type="", name="skypeId", placeholder="Min. 6 characters", required='', value="#{formData.skypeId}").form-control
                                    i.fa.fa-skype.form-control-feedback

                            .form-group.has-feedback
                                label.col-sm-3.control-label(for='availability') Your availabilites:
                                    span.text-danger.small *
                                .col-sm-8
                                    input#availability(type="", name="availability", placeholder="Eg. Wednesdays and Thursdays from 5pm", required='', value="#{formData.availability}").form-control
                                    i.fa.fa-calendar.form-control-feedback

                            .form-group.has-feedback
                                label.col-sm-3.control-label(for='mobilePhone') Mobile number:
                                .col-sm-8
                                    input#mobilePhone(type="", name="mobilePhone", placeholder="", value="#{formData.mobilePhone}").form-control
                                    i.fa.fa-phone.form-control-feedback

                            if(!session.authenticated)

                                .form-group.has-feedback
                                    label.col-sm-3.control-label(for='email') Email:
                                        span.text-danger.small *
                                    .col-sm-8
                                        input#email(type="email", name="email", placeholder="", required='', value="#{formData.email}").form-control
                                        i.fa.fa-envelope.form-control-feedback

                                .form-group.has-feedback
                                    label.col-sm-3.control-label(for='password') Password:
                                        span.text-danger.small *
                                    .col-sm-8
                                        input#password(type="password", name="password", required='', placeholder="Password must be at least 8 characters", value="#{formData.password}").form-control
                                        i.fa.fa-lock.form-control-feedback

                                .form-group.has-feedback
                                      label.col-sm-3.control-label(for='confirmationPassword') Please confirm your password:
                                          span.text-danger.small *
                                      .col-sm-8
                                          input#confirmationPassword(type="password", name="confirmationPassword", placeholder="Password confirmation", required='', value="#{formData.confirmationPassword}").form-control
                                          i.fa.fa-lock.form-control-feedback

                            //.form-group
                            //    .col-sm-offset-3.col-sm-8
                            //        .checkbox
                            //            label
                            //                input(type='checkbox', required='')
                            //                | Accept our
                            //                =" "
                            //                a(href='#') privacy policy
                            //                |  and
                            //                =" "
                            //                a(href='#') customer agreement
                            .form-group
                                .col-sm-offset-3.col-sm-8
                                    button.btn.btn-group.btn-default.btn-animated(type='submit')
                                        | Register
                                        i.fa.fa-check
                            // main end
                // main-container end

    //.col-lg-2.text-center
    //.col-lg-8
    //    if(!session.authenticated)
    //        h2.title Let's schedule a mock interview!
    //    else
    //        h2.title New mock interview
    //    br
    //
    //    form.form-horizontal(id="registerForm", action="", method="post", role="form")
    //
    //        if(error)
    //            .alert.alert-danger(role="alert") #{error}
    //
    //        .form-group.required
    //            label.control-label.col-sm-4(for='firstName') Position:
    //            .col-sm-8
    //                input#position(type="", name="position", placeholder="" value="#{formData.position}").form-control
    //
    //        .form-group
    //            label.control-label.col-sm-4(for='sector') Sector:
    //            .col-sm-8
    //                select#sector(name='sector').form-control.required
    //                    each val, key in sectorOptions
    //                        option(value=key selected=(key == formData.sector))=val
    //
    //        .form-group.required
    //            label.control-label.col-sm-4(for='company') Company:
    //            .col-sm-8
    //                input#company(type="", name="company", placeholder="" value="#{formData.company}").form-control
    //
    //        .form-group
    //            include ../_includes/cv-upload-control
    //
    //        if(!session.authenticated)
    //
    //            .form-group.required
    //                label.control-label.col-sm-4(for='firstName') First name:
    //                .col-sm-8
    //                    input#firstName(type="", name="firstName", placeholder="" value="#{formData.firstName}").form-control
    //
    //            .form-group.required
    //                label.control-label.col-sm-4(for='lastName') Last name:
    //                .col-sm-8
    //                    input#lastName(type="", name="lastName", placeholder="" value="#{formData.lastName}").form-control
    //
    //        .form-group.required
    //            label.control-label.col-sm-4(for='skypeId') Your Skype ID:
    //            .col-sm-8.required
    //                input#skypeId(type="", name="skypeId", placeholder="Mock interview scheduling" value="#{formData.skypeId}").form-control
    //
    //        .form-group.required
    //            label.control-label.col-sm-4(for='availability') Your availabilites:
    //            .col-sm-8
    //                input#availability(type="", name="availability", placeholder="Eg. Wednesdays and Thursdays from 5pm" value="#{formData.availability}").form-control
    //
    //        .form-group
    //            label.control-label.col-sm-4(for='mobilePhone') Mobile number:
    //            .col-sm-8
    //                input#mobilePhone(type="", name="mobilePhone", placeholder="" value="#{formData.mobilePhone}").form-control
    //
    //        if(!session.authenticated)
    //
    //            .form-group.required
    //                label.control-label.col-sm-4(for='email') Email:
    //                .col-sm-8
    //                    input#email(type="email", name="email", placeholder="Email" value="#{formData.email}").form-control
    //
    //            .form-group.required
    //                label.control-label.col-sm-4(for='password') Password:
    //                .col-sm-8
    //                    input#password(type="password", name="password", placeholder="Password must be at least 8 characters", value="#{formData.password}").form-control
    //
    //            .form-group.required
    //                label.control-label.col-sm-4(for='confirmationPassword') Please confirm your password:
    //                .col-sm-8
    //                    input#confirmationPassword(type="password", name="confirmationPassword", placeholder="Password confirmation", value="#{formData.confirmationPassword}").form-control
    //
    //        .form-group
    //            .col-sm-offset-4.col-sm-10
    //                //button(type="submit").btn.btn-default Register
    //                button.btn.btn-default(type="submit") Register
    //.col-lg-2.text-center
