extends layout

block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Enregistrement
        br
        br
        form.form-horizontal(id="registerForm", action="", method="post", role="form")
            if(error)
                .alert.alert-danger(role="alert") #{error}
            .form-group
                label.control-label.col-sm-4(for='firstName') Position:
                .col-sm-8
                    input#job_description(type="", name="job_description", placeholder="" value="").form-control
            .form-group
                label.control-label.col-sm-4(for='sector') Secteur d'activite:
                .col-sm-8
                    select#sector.form-control(value=formData.sector, name='sector')
                        each val, key in sectorOptions
                            option(value=key)=val
            .form-group
                label.control-label.col-sm-4(for='firstName') Entreprise:
                .col-sm-8
                    input#company(type="", name="company", placeholder="" value="").form-control
            .form-group
                label.control-label.col-sm-4(for='') Votre CV:
                .col-sm-8
                    button(type="file").btn.btn-default Selectionner...
            .form-group
                label.control-label.col-sm-4(for='firstName') Prenom:
                .col-sm-8
                    input#firstName(type="", name="firstName", placeholder="" value="#{formData.firstName}").form-control
            .form-group
                label.control-label.col-sm-4(for='lastName') Nom:
                .col-sm-8
                    input#lastName(type="", name="lastName", placeholder="" value="#{formData.lastName}").form-control
            .form-group
                label.control-label.col-sm-4(for='availability') Vos disponibilites:
                .col-sm-8
                    input#availability(type="", name="availability", placeholder="Ex. tous les soirs a partir de 19h" value="#{formData.availability}").form-control
            .form-group
                label.control-label.col-sm-4(for='mobilePhone') Telephone portable:
                .col-sm-8
                    input#mobilePhone(type="", name="mobilePhone", placeholder="Optionnel" value="#{formData.mobilePhone}").form-control
            .form-group
                label.control-label.col-sm-4(for='skypeId') Votre identifiant Skype:
                .col-sm-8
                    input#skypeId(type="", name="skypeId", placeholder="Pour realiser l'interview" value="#{formData.skypeId}").form-control
            .form-group
                label.control-label.col-sm-4(for='email') Email:
                .col-sm-8
                    input#email(type="email", name="email", placeholder="Email" value="#{formData.email}").form-control
            .form-group
                label.control-label.col-sm-4(for='password') Mot de passe:
                .col-sm-8
                    input#password(type="password", name="password", placeholder="Mot de passe", value="#{formData.password}").form-control
            .form-group
                label.control-label.col-sm-4(for='confirmationPassword') Confirmation mot de passe:
                .col-sm-8
                    input#confirmationPassword(type="password", name="confirmationPassword", placeholder="Confirmation mot de passe", value="#{formData.confirmationPassword}").form-control
            .form-group
                .col-sm-offset-4.col-sm-10
                    //button(type="submit").btn.btn-default S'enregister
                    button.btn.btn-default(type="submit") S'enregistrer
    .col-lg-2.text-center
