//header-container start
.header-container
    // header start
    // classes:
    // "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix"
    // "dark": dark version of header e.g. class="header dark clearfix"
    // "full-width": mandatory class for the full-width menu layout
    // "centered": mandatory class for the centered logo layout
    // ================
    header.header.fixed.clearfix
        .container
            .row
                .col-md-3
                    // header-left start
                    // ================
                    .header-left.clearfix
                        // logo
                        #logo.logo
                            //h3
                            //    b.span(style="color: #09afdf") Skip
                            //    b.span(style="color: grey") TheFirstRound.com
                            a(href='/')
                                img#logo_img(src='/images/logo.png', alt='SkipTheFirstRound.com')
                        // name-and-slogan
                        .site-slogan
                            | Recruitment made easier
                    // header-left end
                .col-md-9
                    // header-right start
                    // ================
                    .header-right.clearfix
                        // main-navigation start
                        // classes:
                        // "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick"
                        // "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated"
                        // "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns
                        // ================
                        .main-navigation.animated
                            // navbar start
                            // ================
                            nav.navbar.navbar-default(role='navigation')
                                .container-fluid
                                    // Toggle get grouped for better mobile display
                                    .navbar-header
                                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                                            span.sr-only Toggle navigation
                                            span.icon-bar
                                            span.icon-bar
                                            span.icon-bar
                                    // Collect the nav links, forms, and other content for toggling
                                    #navbar-collapse-1.collapse.navbar-collapse.scrollspy.smooth-scroll
                                        //ul.nav.navbar-nav.navbar-left
                                        //    li
                                        //        a(href='/') Demande au Finaud
                                        ul.nav.navbar-nav.navbar-right
                                            //li.dropdown.active
                                            //    a.dropdown-toggle(href='#banner', data-toggle='dropdown') Home
                                            //    ul.dropdown-menu
                                            //        li
                                                a(href='index.html') Home - Default

                                            -var isRecruiter = session.req.originalUrl.indexOf('recruiter') !== -1;

                                            if(!session.authenticated)

                                                li
                                                    a(href='/')
                                                        if(!isRecruiter)
                                                            u
                                                                b For candidates
                                                        else
                                                            b For candidates
                                                li
                                                    a(href='/recruiter')
                                                        if(isRecruiter)
                                                            u
                                                                b For recruiters
                                                        else
                                                            b For recruiters

                                            else if(session.role == 'user')
                                                li
                                                    a(href='/simulation')
                                                        span New Mock Interview
                                                //li
                                                //    a() |
                                                li
                                                    a(href='/offers')
                                                        span Apply for Job Offers

                                            -var loginUrl
                                            -var registerUrl

                                            if(!isRecruiter)
                                                -loginUrl = '/user-login/'
                                                -registerUrl = '/user-register'
                                                -logoutUrl = '/user-logout'
                                            else
                                                -loginUrl = '/recruiter/recruiter-login/'
                                                -registerUrl = '/recruiter/recruiter-register'
                                                -logoutUrl = '/recruiter/recruiter-logout'

                                            //li
                                            //    a(href='/change-language/fr') FR
                                            //li
                                            //    a(href='/change-language/en') EN

                                            li
                                                a() |

                                            if(session.authenticated)
                                                if(!isRecruiter)
                                                    li
                                                        a(href="#{logoutUrl}") Sign out
                                                else
                                                    li
                                                        a(href="#{logoutUrl}") Déconnexion
                                            else
                                                if(!isRecruiter)
                                                    li
                                                        a(href="#{loginUrl}") Log in
                                                    li
                                                        a(href="#{registerUrl}") Register
                                                else
                                                    li
                                                        a(href="#{loginUrl}") Se connecter
                                                    li
                                                        a(href="#{registerUrl}") S'enregistrer

                            // navbar end
                        // main-navigation end
                    // header-right end
    // header end
// header-container end
