
.col-lg-8(style='padding:10px')
    a.btn.btn-default.btn-med(href='/my-account' class=page=='my-account'?'active':undefined)
        i.fa.fa-calendar.pr-10
        | My interviews
    |&nbsp;&nbsp;
    a.btn.btn-default.btn-med(href='/my-messages' class=page=='my-messages'?'active':undefined)
        i.fa.fa-envelope.pr-10
        | Messages from recruiters
    |&nbsp;&nbsp;
    a.btn.btn-default.btn-med(href='/personal-information' class=page=='personal-information' ? 'active' : undefined)
        i.fa.fa-info.pr-10
        | Personal information
//ul.nav.nav-tabs.style-4(role='tablist' style="border-bottom: 1px solid #0c9ec7;")
//    li(class=page=='my-account'?'active':undefined)
//        a(href='my-account')
//            i.fa.fa-calendar.pr-10
//            | My interviews &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
//    li(class=page=='my-messages'?'active':undefined)
//        a(href='my-messages')
//            i.fa.fa-envelope.pr-10
//            | Messages from recruiters
//    li(class=page == 'personal-information' ? 'active' : undefined)
//        a(href='personal-information')
//            i.fa.fa-info.pr-10
//            | Personal information