extends template

block content

    p Dear Admin

    p The following user has requested an interview, please get in touch with him

    ul
        li Name: #{data.firstName} #{data.lastName}
        li Email: #{data.date}
        li Phone: #{data.time}
        li Availability: #{data.date}
        li Interview type: #{data.date}
        li SkypeId: #{data.skypeId}
