
extends template

block content

    -var interviewTypeText
    if data.interviewType == 1
        -interviewTypeText = 'mock interview';
    else
        -interviewTypeText = 'job interview';


    p Dear #{data.firstName},

    p We are happy to confirm the below details ahead of your #{interviewTypeText} :
    ul
        li Position: #{data.position}
        li Date: #{data.date}
        li Time: #{data.time}
        li We will contact you on your SkypeId: #{data.skypeId}
        li Business attire is highly recommended.

    p This #{interviewTypeText} will test your motivation and technical expertise, please make sure to be as prepared as possible!
    p We will also give you personalised feedback & advise and offer you the opportunity to display some of the content to partnering recruiters. To this end business attire is highly recommended.
    p Looking forward to speaking with you!

    p The Interviewing Team @ SkipTheFirstRound.com