extends template

block content

    -var typeText
    if type == 1
        -typeText = 'mock interview';
    else
        -typeText = 'job interview';

    p Dear #{data.firstName}

    p We are happy to confirm the below details ahead of our #{typeText} :
    ul
        li Position: #{data.position}
        li Date: #{data.date}
        li Time: #{data.time}
        li SkypeId: #{data.skypeId}

    p This mock interview will test your motivation and technical expertise, please make sure to be as prepared as possible!
    p We will also give you personalised feedback & advise and offer you the opportunity to display some of the content to partnering recruiters. To this end business attire is highly recommended.
    p Looking forward to speaking with you!

    p The Interviewing Team @ SkipThe FirstRound.com