extends ../user/layout

include ../_includes/sharedHTMLfunctions

block content

    .col-lg-2.text-center
    .col-lg-8
        .row

            h3 Parcourir les extraits de videos des candidats

            script.
                $(document).ready(function () {
                    $('#sector').change(function () {

                        $.ajax({
                            type: 'GET',
                            data: {sector: $('#sector').val()},
                            url: '/getPositions',
                            success: function (data) {

                                var select = $("#position")[0];

                                $('#position').empty();
                                select.add(new Option('Tous', '0'));
                                for (var key in data) {
                                    if (data.hasOwnProperty(key)) {

                                        select.add(new Option(data[key], key));

                                    }
                                }
                            }
                        });
                    });
                });


            form.form-horizontal(id="searchForm", action="", method="post", role="form")
                if(error)
                    .alert.alert-danger() #{error}

                .form-group.required
                    label.col-sm-3.control-label(for='sector') Secteur d'activite
                    .col-sm-8
                        select#sector(name='sector').form-control.required
                            each val, key in sectorOptions
                                option(value=key selected=(key == formData.sector))=val.label

                .form-group.required
                    label.col-sm-3.control-label(for='position') Position
                    .col-sm-8
                        select#position(name='position').form-control
                            - var positions = sectorOptions[formData.sector].positions;
                            //- positions['0'] = 'Tous';
                            each val, key in positions
                                option(value=key selected=(key == formData.position))=val

                .form-group.required
                    label.col-sm-3.control-label(for='position') Type de Position
                    .col-sm-8
                        select#jobType(name='jobType').form-control
                            - console.log(formData.jobType);
                            each val, key in jobTypeOptions
                                option(value=key selected=(key == formData.jobType))=val

                .form-group
                    .col-sm-offset-4.col-sm-10
                        button.btn.btn-default(type="submit") Search

            if (results && results.length > 0)
                h3 Results
                table.table
                    tr
                        th Secteur
                        th Position
                        th Voir
                        th CV
                    each result in results
                        tr
                            td #{result.sectorText}
                            td #{result.positionText}
                            td
                                -var id = result.providerUniqueId;
                                -var html = cloudinary.video(id, {width: 250, height: 250, crop: "fit", controls: true});
                                !=html
                            td
                                -var cvLink = cloudinary.url(result.cv);
                                a(href='#{cvLink}' target="_blank") Voir CV


            else if (message)
                h3=message

        .row

        .row



    .col-lg-2.text-center