extends ../user/layout

block content

    .col-lg-2.text-center
    .col-lg-8
        .row

            h3 Offre ##{offerId}

            table.table
                tr
                    th Entretien en entier
                    th Séquences de l'entretien
                    th Résumé
                    th Appréciation
                    th CV

                each interview in interviews
                    tr
                        td
                            -var id = interview.video.providerUniqueId;
                            -var html = cloudinary.video(id, {width: 250, height: 250, crop: "fit", controls: true});
                            !=html

                        td
                                each sequence in interview.sequences

                                    div
                                        u=sequence.tagText
                                    -var idSequence = sequence.video.providerUniqueId;
                                    -var html = cloudinary.video(idSequence, {width: 250, height: 250, crop: "fit", controls: true});
                                    div=sequence.summary
                                    div=sequence.appreciationText
                                    !=html
                                    div &nbsp;
                        td
                           | #{interview.summary}
                        td
                            | #{interview.appreciationText}
                        td
                            if(interview.user.cv !== '' && typeof interview.user.cv !== 'undefined')
                                -var cvLink = cloudinary.url(interview.user.cv);
                                a(href='#{cvLink}' target='_blank') Voir

        .row

        .row



    .col-lg-2.text-center