extends ..\user\layout

block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Enregistrement
        br
        br
        form.form-horizontal(id="registerForm", action="", method="post", role="form")
            if(error)
                .alert.alert-danger(role="alert") #{error}
            .form-group.required
                label.control-label.col-sm-4(for='firstName') Prenom:
                .col-sm-8
                    input#firstName(type="", name="firstName", placeholder="" value="#{formData.firstName}").form-control
            .form-group.required
                label.control-label.col-sm-4(for='lastName') Nom:
                .col-sm-8
                    input#lastName(type="", name="lastName", placeholder="" value="#{formData.lastName}").form-control
            .form-group.required
                label.control-label.col-sm-4(for='company') Entreprise:
                .col-sm-8
                    input#company(type="", name="company", placeholder="" value="#{formData.company}").form-control
            .form-group.required
                label.control-label.col-sm-4(for='mobilePhone') Telephone portable:
                .col-sm-8
                    input#mobilePhone(type="", name="mobilePhone", placeholder="" value="#{formData.mobilePhone}").form-control
            .form-group.required
                label.control-label.col-sm-4(for='email') Email:
                .col-sm-8
                    input#email(type="email", name="email", placeholder="Email" value="#{formData.email}").form-control
            .form-group.required
                label.control-label.col-sm-4(for='password') Mot de passe:
                .col-sm-8
                    input#password(type="password", name="password", placeholder="Mot de passe", value="#{formData.password}").form-control
            .form-group.required
                label.control-label.col-sm-4(for='confirmationPassword') Confirmation mot de passe:
                .col-sm-8
                    input#confirmationPassword(type="password", name="confirmationPassword", placeholder="Confirmation mot de passe", value="#{formData.confirmationPassword}").form-control
            .form-group
                .col-sm-offset-4.col-sm-10
                    button.btn.btn-default(type="submit") S'enregistrer
    .col-lg-2.text-center
